<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/drupal7/web/misc/typo3/phar-stream-wrapper/tests" />
        <option value="$PROJECT_DIR$/drupal10/tests" />
        <option value="$PROJECT_DIR$/drupal10/web/core/tests" />
      </list>
    </option>
  </component>
</project>